In [8]:
import pandas as pd
DATA_PATH = "../data/raw/hospital_los.csv"

df = pd.read_csv(DATA_PATH)

df.head()

,eid,vdate,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,...,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,discharged,facid,lengthofstay
0,1,8/29/2012,0,F,0,0,0,0,0,0,...,192.476918,12.0,1.390722,30.432418,96,6.5,4,9/1/2012,B,3
1,2,5/26/2012,5+,F,0,0,0,0,0,0,...,94.078507,8.0,0.943164,28.460516,61,6.5,1,6/2/2012,A,7
2,3,9/22/2012,1,F,0,0,0,0,0,0,...,130.530524,12.0,1.065750,28.843812,64,6.5,2,9/25/2012,B,3
3,4,8/9/2012,0,F,0,0,0,0,0,0,...,163.377028,12.0,0.906862,27.959007,76,6.5,1,8/10/2012,A,1
4,5,12/20/2012,0,F,0,0,0,1,0,1,...,94.886654,11.5,1.242854,30.258927,67,5.6,2,12/24/2012,E,4

In [9]:
# Data inspection
df.shape #rows, columns

(100000, 28)

In [10]:
df.columns #column names

Index(['eid', 'vdate', 'rcount', 'gender', 'dialysisrenalendstage', 'asthma',
       'irondef', 'pneum', 'substancedependence', 'psychologicaldisordermajor',
       'depress', 'psychother', 'fibrosisandother', 'malnutrition', 'hemo',
       'hematocrit', 'neutrophils', 'sodium', 'glucose', 'bloodureanitro',
       'creatinine', 'bmi', 'pulse', 'respiration',
       'secondarydiagnosisnonicd9', 'discharged', 'facid', 'lengthofstay'],
      dtype='object')

In [11]:
df.info #info on types and missing values

<bound method DataFrame.info of           eid       vdate rcount gender  dialysisrenalendstage  asthma  \
0           1   8/29/2012      0      F                      0       0
1           2   5/26/2012     5+      F                      0       0
2           3   9/22/2012      1      F                      0       0
3           4    8/9/2012      0      F                      0       0
4           5  12/20/2012      0      F                      0       0
...       ...         ...    ...    ...                    ...     ...
99995   99996   1/28/2012      3      M                      0       0
99996   99997    8/6/2012      0      M                      0       0
99997   99998   7/23/2012      1      M                      0       0
99998   99999  12/19/2012      0      M                      0       0
99999  100000    3/6/2012      0      F                      0       0

       irondef  pneum  substancedependence  psychologicaldisordermajor  ...  \
0            0      0                    0                           0  ...
1            0      0                    0                           0  ...
2            0      0                    0                           0  ...
3            0      0                    0                           0  ...
4            0      1                    0                           1  ...
...        ...    ...                  ...                         ...  ...
99995        0      0                    0                           0  ...
99996        0      0                    0                           0  ...
99997        1      0                    0                           0  ...
99998        0      0                    0                           0  ...
99999        0      0                    0                           0  ...

          glucose  bloodureanitro  creatinine        bmi  pulse  respiration  \
0      192.476918            12.0    1.390722  30.432418     96          6.5
1       94.078507             8.0    0.943164  28.460516     61          6.5
2      130.530524            12.0    1.065750  28.843812     64          6.5
3      163.377028            12.0    0.906862  27.959007     76          6.5
4       94.886654            11.5    1.242854  30.258927     67          5.6
...           ...             ...         ...        ...    ...          ...
99995  171.422555            12.0    0.650323  30.063069     80          6.5
99996  122.342450            12.0    1.521424  28.969548     61          6.5
99997  108.288106            12.0    1.025677  26.354919     61          6.9
99998  111.750731            16.0    1.035400  29.193462     59          5.6
99999  149.572205            12.0    0.813004  25.175760     74          6.5

       secondarydiagnosisnonicd9  discharged  facid  lengthofstay
0                              4    9/1/2012      B             3
1                              1    6/2/2012      A             7
2                              2   9/25/2012      B             3
3                              1   8/10/2012      A             1
4                              2  12/24/2012      E             4
...                          ...         ...    ...           ...
99995                          1    2/3/2012      B             6
99996                          1    8/7/2012      B             1
99997                          1   7/27/2012      C             4
99998                          1  12/23/2012      B             4
99999                          4    3/8/2012      B             2

[100000 rows x 28 columns]>

In [12]:
df.describe(include="all")

,eid,vdate,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,...,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,discharged,facid,lengthofstay
count,100000.000000,100000,100000,100000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000,100000,100000.00000
unique,NaN,367,6,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378,5,NaN
top,NaN,10/3/2012,0,F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/16/2012,E,NaN
freq,NaN,333,55031,57643,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316,30755,NaN
mean,50000.500000,NaN,NaN,NaN,0.036420,0.035270,0.094940,0.039450,0.063060,0.239040,...,141.963384,14.097185,1.099350,29.805759,73.444720,6.493768,2.123310,NaN,NaN,4.00103
std,28867.657797,NaN,NaN,NaN,0.187334,0.184462,0.293134,0.194664,0.243072,0.426499,...,29.992996,12.952454,0.200262,2.003769,11.644555,0.568473,2.050641,NaN,NaN,2.36031
min,1.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.005927,1.000000,0.219770,21.992683,21.000000,0.200000,0.000000,NaN,NaN,1.00000
25%,25000.750000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,121.682383,11.000000,0.964720,28.454235,66.000000,6.500000,1.000000,NaN,NaN,2.00000
50%,50000.500000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,142.088545,12.000000,1.098764,29.807516,73.000000,6.500000,1.000000,NaN,NaN,4.00000
75%,75000.250000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,162.180996,14.000000,1.234867,31.156885,81.000000,6.500000,3.000000,NaN,NaN,6.00000
max,100000.000000,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,271.444277,682.500000,2.035202,38.935293,130.000000,10.000000,10.000000,NaN,NaN,17.00000

In [13]:
# Missing values. Which columns have missing data and how much missing data there is. 
df.isna().sum()

eid                           0
vdate                         0
rcount                        0
gender                        0
dialysisrenalendstage         0
asthma                        0
irondef                       0
pneum                         0
substancedependence           0
psychologicaldisordermajor    0
depress                       0
psychother                    0
fibrosisandother              0
malnutrition                  0
hemo                          0
hematocrit                    0
neutrophils                   0
sodium                        0
glucose                       0
bloodureanitro                0
creatinine                    0
bmi                           0
pulse                         0
respiration                   0
secondarydiagnosisnonicd9     0
discharged                    0
facid                         0
lengthofstay                  0
dtype: int64

In [15]:
# Correcting columns to correct data types
df['vdate'] = pd.to_datetime(df['vdate'])

In [16]:
#Convert rcount to numeric so that the ML model can work properly.
df['rcount'] = pd.to_numeric(df['rcount'], errors='coerce').astype('Int64')

In [17]:
#Inspecting categorical columns
#Gender
df['gender'].value_counts()

gender
F    57643
M    42357
Name: count, dtype: int64

In [18]:
#Secondary diagnosis
df['secondarydiagnosisnonicd9'].value_counts().head()

secondarydiagnosisnonicd9
1    50029
0    10090
2     9782
3     9020
4     8990
Name: count, dtype: int64

In [19]:
#Discharged
df['discharged'].value_counts()

discharged
2/16/2012     316
10/25/2012    315
6/19/2012     315
3/9/2012      313
10/28/2012    312
             ...
1/9/2013       23
1/10/2013       7
1/12/2013       2
1/11/2013       2
1/13/2013       1
Name: count, Length: 378, dtype: int64

In [20]:
#Faculty 
df['facid'].value_counts().head()

facid
E    30755
A    30035
B    30012
C     4699
D     4499
Name: count, dtype: int64

In [21]:
# 1. Drop discharge date to avoid leakage
df = df.drop('discharged', axis=1)

#Enconde gender to binary
df['gender'] = df['gender'].map({'F': 0, 'M': 1})

#One-hot encode facility ID
df = pd.get_dummies(df, columns=['facid'], prefix='fac', drop_first=True)

#Extract useful date features
df['month'] = df['vdate'].dt.month
df['dayofweek'] = df['vdate'].dt.dayofweek

In [25]:
df = df.drop(columns=['vdate'], errors='ignore')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   eid                         100000 non-null  int64
 1   rcount                      95013 non-null   Int64
 2   gender                      100000 non-null  int64
 3   dialysisrenalendstage       100000 non-null  int64
 4   asthma                      100000 non-null  int64
 5   irondef                     100000 non-null  int64
 6   pneum                       100000 non-null  int64
 7   substancedependence         100000 non-null  int64
 8   psychologicaldisordermajor  100000 non-null  int64
 9   depress                     100000 non-null  int64
 10  psychother                  100000 non-null  int64
 11  fibrosisandother            100000 non-null  int64
 12  malnutrition                100000 non-null  int64
 13  hemo                        100000 non-null  int64
 14  hematocrit                  100000 non-null  float64
 15  neutrophils                 100000 non-null  float64
 16  sodium                      100000 non-null  float64
 17  glucose                     100000 non-null  float64
 18  bloodureanitro              100000 non-null  float64
 19  creatinine                  100000 non-null  float64
 20  bmi                         100000 non-null  float64
 21  pulse                       100000 non-null  int64
 22  respiration                 100000 non-null  float64
 23  secondarydiagnosisnonicd9   100000 non-null  int64
 24  lengthofstay                100000 non-null  int64
 25  fac_B                       100000 non-null  bool
 26  fac_C                       100000 non-null  bool
 27  fac_D                       100000 non-null  bool
 28  fac_E                       100000 non-null  bool
 29  month                       100000 non-null  int32
 30  dayofweek                   100000 non-null  int32
dtypes: Int64(1), bool(4), float64(8), int32(2), int64(16)
memory usage: 20.3 MB

In [27]:
# Inspection of NaN values in rcount
df['rcount'].isna().sum()

np.int64(4987)

In [29]:
#Replace the missing values with 0 and convert the column to a normal int type
df['rcount']= df['rcount'].fillna(0).astype('int64')

In [30]:
#Check again NaN value count in rcount
df['rcount'].isna().sum()

np.int64(0)

In [34]:
# Now we have our cleaned df and can save it
df.to_csv('../data/processed/cleaned_hospital_los.csv', index=False)